$themes-color-default: black;
$themes-color-danger: red;
$themes-color-warn: orange;
$themes-color-success: green;
$themes-color-info: gray;
$themes-color-second: Indigo;
$themes-font-weight: bold;
$themes-font-size: medium;
$themes-bg-primary: blue;
$themes-color-secondary: pink;
$themes-text-info: black;
$themes-bg-size: medium;
$themes-width: 200px;
$themes-height: 30px;
$themes-border: 2px solid green;
$themes-bg: #804d39;
$themes-ff: 'minion';
