<div bind-if="title">
  <h1 bind-value="title"></h1>

  <div> 
      <input type="number" id="number1" name="number1" placeholder="Number 1" bind-events="focusout: inputNumber()">
      <input type="number" id="number2" name="number2" placeholder="Number 2" bind-events="focusout: inputNumber()">
      <span style="color:red">*</span><small>You can write only numbers</small>
      <br>

      <h3> Do some maths with the above numbers</h3>
      <button bind-events="click: calAddition()">+</button>
      <button bind-events="click: calSubtraction()">-</button>
      <button bind-events="click: calMultiplication()">*</button>
      <button bind-events="click: calDivision()">/</button>
      <br>

      <h3>Result:</h3>
      <strong><p bind-value="result">---</p></strong>
  </div>
</div>