<div bind-if="clientData">
    <hr/>
    <span class="title">Client Info</span>
    <br/>
    <span bind-value="'asn: '"></span>
    <span bind-value="clientData.asn"></span>
    <br/>
    <span bind-value="'city: '"></span>
    <span bind-value="clientData.city"></span>
    <br/>
    <span bind-value="'country: '"></span>
    <span bind-value="clientData.country"></span>
    <br/>
    <span bind-value="'hostname: '"></span>
    <span bind-value="clientData.hostname"></span>
    <br/>
    <span bind-value="'ip: '"></span>
    <span bind-value="clientData.ip"></span>
    <br/>
    <span bind-value="'latitude: '"></span>
    <span bind-value="clientData.latitude"></span>
    <br/>
    <span bind-value="'longitude: '"></span>
    <span bind-value="clientData.longitude"></span>
    <br/>
    <span bind-value="'netmask: '"></span>
    <span bind-value="clientData.netmask"></span>
    <br/>
    <span bind-value="'post_code: '"></span>
    <span bind-value="clientData.post_code"></span>
</div>